<!--
  Generated template for the MainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Main</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="cards">
      <details-view></details-view>
      <room-details-view></room-details-view>
      <time-based-details-view></time-based-details-view>
      <event-details-view></event-details-view>
      <promotion-details-view></promotion-details-view>
  </div>

</ion-content>
