<!-- Generated template for the EventDetailsViewComponent component -->
<time-based-details-view>
  <div header-post>
    <span>Venue :</span>
    <span>{{detail.venue}}</span>
  </div>
</time-based-details-view>