<!-- Generated template for the DetailsViewComponent component -->
<div class="details">
    <div class="header">
      <ion-img width="200" height="200" src="{{detail.imgURL}}"></ion-img>
      <ng-content select="[header-pre]"></ng-content>
      <h1 class="header-title">{{detail.title}}</h1>
      <ng-content select="[header-post]"></ng-content>
    </div>
    <div class="content">
      
      <div class="content-header">
          <ng-content select="[content-pre]"></ng-content>
          <ng-content select="[content-post]"></ng-content>
      </div>
      <p>
        {{detail.description}}
      </p>
    </div>
</div>
