<!-- Generated template for the TimeBaseDetailsViewComponent component -->
<details-view>
  <div header-pre>
      <ng-content select="[header-pre]"></ng-content>
  </div>
  <div header-post>
    <div>
      <span>Start : </span>
      <span>{{detail.startDate| date:'shortDate'}}</span>
    </div>
    <div>
      <span>End : </span>
      <span>{{detail.endDate | date:'shortDate'}}</span>
    </div>
    <ng-content select="[header-post]"></ng-content>
  </div>
</details-view>